<h1>User Details</h1>
<ul>
  <li><strong>ID:</strong> {{id}}</li>
  <li><strong>Name:</strong> {{name}}</li>
  <li><strong>Email:</strong> {{email}}</li>
  <li><strong>Designation:</strong> {{designation}}</li>
</ul>
<a href="/">Back to User List</a>
